PAVEL_NETWORK_ALIAS=studionet
PAVEL_CHAIN_ID=61999
PAVEL_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_PAVEL_CORE_ADDRESS=0x1540cEa5d3Df622068B2d3A22aac8Bcb31B900f4
NEXT_PUBLIC_PAVEL_VAULT_ADDRESS=0xac43A164AB9e82d7Af387059c04579FE48050fce
